*{
    padding: 0;
    margin: 0;
}

.container{
    display: grid; 
}
/* grid better for rows and columns */

.header{
    display: grid;
    grid-template-columns: 1/4fr 3/4fr;
}
.nav{
   /*  display: flex;
    position: fixed; */
    background-color: purple;
    overflow: auto;
 }
ul {  
    list-style-type: none;  
    font-weight: bold;  
    font-size: 20px;  
    }  

li {
    display: inline;
    border-bottom: 2px solid yellow;
}

.selected{
    border-bottom: 2px solid purple;
 }